{% include "header.html" %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-7 mx-auto px-auto my-5">
        <h1 class="pb-2 border-bottom display-6" style="display: inline-block;">Embark on a reading journey like never before</h1>
    </div>
</div>
</div>

<!-- Product list -->
<div class="container-fluid">
    <div class="row mx-5 my-4 justify-content-around">
        {% for book in books %}
        <div class="col-md-3 mx-4 my-4">
            <div class="card" style="width: 14rem; border: none;">
                <img src="{{ book.img_url }}" class="card-img-top rounded img-fluid" alt="...">
                <div class="card-body my-1 mx-1 px-0 py-0">
                    <p class="lead fw-bold card-title lh-sm" style="font-size: 1rem;">{{ book.title }}</p>
                    <p class="lead fw-normal" style="font-size: 0.9rem;">{{ book.author }}</p>
                    <ul class="list-unstyled my-0">
                    <li style="display: inline;"><p class="card-text" style="display: inline; font-size: 1rem;">€<strong>{{ book.price }}</strong></p></li>
                    <li style="display: inline;">
                        <form action="{{ url_for('buy_books') }}" method="post">
                            <input type="hidden" id="price_id" name="price_id" value="{{ book.price_id }}">
                            <button type="submit" class="btn btn-dark btn-sm mx-3 mb-1" style="font-size: 1rem;">Add to Cart</button>
                        </form>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>
</div>
