{% include "header.html" %}
        <!-- Hero -->
        <div class="container-fluid mx-auto hero px-0 text-center">
            <div class="row justify-content-center">
                <div class="col-md-5 my-5 px-5">
                    <p class="lead">Welcome to Story Room</p>
                    <h1 class="mt-2 display-5">Where every click opens the door to a world of literary wonders!</h1>
                    <p class="lead my-3 lh-lg">Immerse yourself in the enchanting realms of fiction, explore the corridors of knowledge, and discover the treasures hidden within the pages of your next favorite book.</p>
                    <div class="container px-0">
                        <a href="{{ url_for('register') }}" class="btn btn-lg btn-dark my-3" role="button">Sign Up</a>
                        <a href="{{ url_for('show_books') }}" class="btn btn-lg btn-outline-dark my-3" role="button">Explore</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features section-->
        <div class="container px-4 py-5" id="featured-3">
            <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <h1 class="display-6"> Curated Collections</h1>
                <p>Our shelves are carefully curated to bring you the finest selection of books. Whether you're a lover of classic literature, a sci-fi enthusiast, or searching for the latest bestseller, Story Room has a curated collection waiting just for you.</p>
              </div>
              <div class="feature col">
                <h1 class="display-6">Join Our Community</h1>
                <p>Be part of a vibrant community of book lovers. Share your thoughts, recommendations, and connect with fellow readers who share your passion. The Story Room community is where stories come to life through discussions and shared experiences.</p>
              </div>
              <div class="feature col">
                <h1 class="display-6">Effortless Shopping</h1>
                <p>Experience the convenience of online shopping with Story Room. Our secure and efficient checkout process ensures that your new literary companions reach your doorstep swiftly, ready to accompany you on your next reading escape.</p>
              </div>
            </div>
          </div>
    